{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row main-container text-center">
        <div class="col-lg-5 col-md-4 col-sm-12">
            <div class="main-img-container">
                <img src="" alt="" class="">
            </div> 
        </div>
        <div class="col-lg-7 col-md-8 col-sm-12">
            <div class="row">
                <div class="col-12">
                    <p class="post-title">Post Title</p>
                    <p class="post-txt">
                        Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit. Voluptas debitis ullam ducimus asperiores 
                        cupiditate impedit! Sed inventore placeat, fugit laudantium magnam
                         omnis, ea, totam ipsam repellendus delectus quod ipsa blanditiis?
                    </p>
                    <div class="row">
                        <div class="col-12 text-center">
                            <a href="" class="btn btn-standard rounded-0 text-center" rel="opener" aria-label="#">Button</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row justify-content-center">
        <p class="second-title text-center">Other title</p>
    </div>
</div>
        <!-- <p>Manual slider with options selector slider js library</p> -->
<div class="container ms-4">
    <div class="row justify-content-evenly">
        <div class="col-3">
            <div class="post-container">
                <a href="" class="rounded-0 card-post-img" rel="opener" aria-label="">
                    <img src="" class="" alt="">
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="post-container">
                <a href="" class="rounded-0 card-post-img" rel="opener" aria-label="">
                    <img src="" class="" alt="">
                </a>
            </div>
        </div>
        <div class="col-3">
            <div class="post-container">
                <a href="" class="rounded-0 card-post-img" rel="opener" aria-label="">
                    <img src="" class="" alt="">
                </a>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row btn-row text-center">
        <div class="col-12 justify-content-center">
            <a href="" class="btn btn-standard rounded-0 text-center" rel="opener" aria-label="#">Button <i class=" ps-1 fas fa-chevron-right"></i></a>
        </div>
    </div>
</div>
<div class="container ps-4">
    <div class="row second-container text-center">
        <div class="col-lg-7 col-md-8 col-sm-12">
            <div class="row">
                <div class="col-12">
                    <p class="post-title">Post Title</p>
                    <p class="post-txt">
                        Lorem, ipsum dolor sit amet consectetur
                        adipisicing elit. Voluptas debitis ullam ducimus asperiores 
                        cupiditate impedit! Sed inventore placeat, fugit laudantium magnam
                        omnis, ea, totam ipsam repellendus delectus quod ipsa blanditiis?
                    </p>
                    <div class="row">
                        <div class="col-12 text-center">
                            <a href="" class="btn btn-standard rounded-0 text-center" rel="opener" aria-label="#">Button</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5 col-md-4 col-sm-12">
            <div class="main-img-container">
                <img src="" alt="" class="">
            </div> 
        </div>
    </div>
</div>
{% endblock %}